//==============================================
// component 常用元件
//==============================================
// 先處理 tagName, 其次 className
//==============================================

a, .a, button.a {
	color: $a-color;
	text-decoration:none;
	&:visited {
		color:$a-color-visited;
	}
	&:hover {
		color:$a-color-hover;
		text-decoration:underline;
	}
	&:active {
		color:$a-color-active;
		text-decoration:underline;
	}
	&.a-primary {
		color: $a-color-primary;
		&:visited {
			color: $a-color-primary-visited;
		}
		&:hover {
			color: $a-color-primary-hover;
		}
		&:active {
			color: $a-color-primary-active;
		}
	}
	&.a-danger {
		color: $a-color-danger;
		&:visited {
			color: $a-color-danger-visited;
		}
		&:hover {
			color: $a-color-danger-hover;
		}
		&:active {
			color: $a-color-danger-active;
		}
	}
	&.a-info {
		color: $a-color-info;
		&:visited {
			color: $a-color-info-visited;
		}
		&:hover {
			color: $a-color-info-hover;
		}
		&:active {
			color: $a-color-info-active;
		}
	}
}

button.a {
	border:none;
	padding:0;
	margin:0;
}

button, .btn {
	border: $btn-border;
	height: $btn-height;
	line-height: $btn-line-height;
	text-align:center;
	text-decoration:none;
	@include border-radius($radius-small);
	@include box-sizing('box');
	.elem-group & {
		@include border-radius(0);
	}
	.elem-group &:last-child {
		@include border-left-radius($radius-small);
	}
	.elem-group &:first-child {
		@include border-right-radius($radius-small);
	}
	&:hover {
		color:#933;
		text-decoration:none;
	}
	&:active {
		color:#f66;
		text-decoration:none;
	}
}
.btn {
	display:inline-block;
}

.btn-lg {
	height: 50px;
	min-width: 180px;
	line-height: 50px;
	font-size: 16px;
	@include border-radius(5px);

}
.btn-md {
	height: 40px;
	min-width: 130px;
	line-height: 40px;
	padding: 0 5px;
	font-size: 15px;
	@include border-radius(5px);
}
.btn-sm {
	padding: 0 10px;
	height: 30px;
	min-width: 95px;
	line-height: 30px;
	font-size: 14px;
	@include border-radius(5px);
}
.btn-xsm {
	min-height: 24px;
	min-width: auto;
	padding: 0 10px;
	font-size: 13px;
	@include border-radius(3px);
}

.btn-border {
	border: 1px solid $color-font-lighten;
	width: auto;
}

.btn-blue, a.btn-blue {
	background-color: $color-base;
	color:#fff;
	border:none;
	&:hover {
		color:#fff;
		background-color:darken($color-base,10%);
	}
}

.btn-execute-master, a.btn-execute-master, .btn-execute, a.btn-execute {
	background-color: $color-base;
	color:#ddd;
	border:none;
	&:hover {
		color:#fff;
		background-color: darken($color-base,10%);
	}
}

.btn-execute-second, a.btn-execute-second {
	background-color: lighten($color-base,10%);
	color:#ddd;
	border:none;
	&:hover {
		color:#fff;
		background-color: darken($color-base,3%);
	}
}

.btn-info, a.btn-info {
	background-color: #95D951;
	color: #fff;
	border: none;
	&:hover {
		color: #fff;
		background-color: darken(#95D951,10%);
	}
}

.btn-red, a.btn-red {
	background-color:#f00;
	color:#fff;
	border:none;
	&:hover {
		color:#fff;
		background-color: darken(#f00,10%);
	}
}

.btn-orange, a.btn-orange {
	background-color:#fa4;
	color:#fff;
	border:none;
	&:hover {
		color:#fff;
		background-color: darken(#fa4,10%);
	}
}

.btn-gr, a.btn-gr, .btn-green, a.btn-green {
	background-color: #95D951;
	color: #fff;
	border: none;
	&:hover {
		color: #fff;
		background-color: darken(#95D951,10%);
	}
}

.btn-norm, a.btn-norm, .btn-normal, a.btn-normal {
	color:lighten($color-font-lighten,15%);
	background-color: lighten($color-font-lighten,55%);
	border: none;
	&:hover {
		color: lighten($color-font-lighten,15%);
		background-color: lighten($color-font-lighten,50%);
	}
}

.btn-disabled {
	color:lighten($color-font,10%);
	background-color: lighten($color-font,55%);
	border: none;
	cursor: not-allowed;
	&:hover {
		color: lighten($color-font,10%);
		background-color: lighten($color-font,50%);
	}
}

.btn-delete, a.btn-delete {
	color: #fa8d7e;
	background-color: #f9f9f9;
	border: #fa8d7e 1px solid;
	&:hover {
		color: #fff;
		background-color: darken(#e06453,10%);
		border: darken(#e06453,10%) 1px solid;
	}
}

input[type="text"], input[type="password"], input[type="number"], input[type="date"] {
	border:1px solid $input-border-color;
	height: $input-height;
	line-height: $input-line-height;
	padding:2px 5px;
	@include border-radius($radius);
	@include box-sizing('box');
	.elem-group & {
		@include border-radius(0);
	}
	.elem-group &:last-child {
		@include border-right-radius($radius-small);
	}
	.elem-group &:first-child {
		@include border-right-radius($radius-small);
	}
	&.error {
		border:1px soild $input-border-color-error;
		background-color:$input-bg-error;
	}
	&.full {
		width:100%;
	}
	&.half {
		width:50%;
	}
	&.char1 {
		width:1em;
	}
	&.char2 {
		width:2em;
	}
	&.char4 {
		width:4em;
	}
	&.char8 {
		width:8em;
	}
}

textarea {
	&.error {
		border:1px soild $input-border-color-error;
		background-color:$input-bg-error;
	}
	&.full {
		width:100%;
	}
	&.half {
		width:50%;
	}
	&.char1 {
		width:1em;
	}
	&.char2 {
		width:2em;
	}
	&.char4 {
		width:4em;
	}
	&.char8 {
		width:8em;
	}
}


label {
	input {
		vertical-align:middle;
	}
}

.custom-input {
	input[type="checkbox"] {
		display:none;
	}
	input[type="checkbox"] + span.checkbox {
		display:inline-block;
		color: $radio-color;
		margin-right:4px;
		width:19px;
		@extend .fa !optional;
		font-size:20px;
		@extend .#{$fa-css-prefix}-square-o;
	}
	input[type="checkbox"]:checked + span.checkbox {
		@extend .#{$fa-css-prefix}-check-square;
	}

	input[type="radio"] {
		display:none;
	}
	input[type="radio"] + span.radio {
		display:inline-block;
		color: $radio-color;
		margin-right:4px;
		width:19px;
		@extend .fa !optional;
		font-size:20px;
		@extend .#{$fa-css-prefix}-circle-o;
	}
	input[type="radio"]:checked + span.radio {
		@extend .#{$fa-css-prefix}-dot-circle-o;
	}
}

table.table {
	border:none;
	border-collapse:collapse;
	border-spacing:0;
	empty-cells:show;
	width:100%;
	@include clearfix();
	@include box-sizing('box');
	caption {
		text-align:left;
	}
	tr {
		border:none;
	}
	th {
		font-weight:bold;
		padding-top:6px;
		padding-bottom:6px;
	}
	thead th, tfoot th {
		text-align:center;
		&.text-right {
			text-align:center;
		}
		&.text-left {
			text-align:left;
		}
	}
	tbody th {
		text-align:right;
		&.text-right {
			text-align:right;
		}
		&.text-left {
			text-align:left;
		}
	}
	th, td {
		border:none;
		padding:5px 4px;
	}
	td.decimal, td.numeric, td.number, td.currency {
		padding-right:4px;
		text-align:right;
	}
}
table.table-hover {
	tbody tr:hover {
		background-color:$table-tr-hover-bgcolor;
		color:$table-tr-hover-color;
	}
}
table.table-rowline {
	thead {
		border-bottom:1px solid $table-border-color;
	}
	tbody tr {
		border-bottom:1px solid $table-border-color;
		&:last-child {
			border-bottom:none;
		}
	}
}
table.table-horizontal-box {
	thead tr, tfoot tr {
		padding-bottom:3px;
		th {
			background:#bbb;
		}
		th:first-child {
			@include border-radius(5px,0,0,5px);
		}
		th:last-child {
			@include border-radius(0,5px,5px,0);
		}
	}
	tbody tr {
		padding-bottom:3px;
		td {
			background-color:#ccc;
		}
		td:first-child {
			@include border-radius(5px,0,0,5px);
		}
		td:last-child {
			@include border-radius(0,5px,5px,0);
		}
	}
}

table.table-bordered {
	tr {
		border-top:1px solid $table-border-color;
		border-left:1px solid $table-border-color;
	}
	th {
		background-color:$table-th-bgcolor;
	}
	th, td {
		border-right:1px solid $table-border-color;
		border-bottom:1px solid $table-border-color;
	}
	tbody tr:last-child {
		border-bottom:none;
	}
}
table.table-striped {
	tbody tr:nth-child(even) {
		background-color: $table-striped-bgcolor-even;
	}
	tbody tr:nth-child(odd) {
		background-color: $table-striped-bgcolor-odd;
	}
}
th.r, td.r, tr.r td {
	text-align:right;
}
th.c, td.c, tr.c td {
	text-align:center;
}
th.l, td.l, tr.l td {
	text-align:left;
}

h1,h2,h3,h4,h5,h6 {
	font-size:inherit;
	font-weight:normal;
	font-style:none;
	line-height:1.2em;
	margin:0;
	padding:0;
	text-decoration:none;
}

h1 {
	font-size:200%;
	font-weight:bold;
	padding-top:5px;
	padding-bottom:5px;
}

h2 {
	font-size:180%;
	font-weight:bold;
}

h3 {
	font-size:140%;
	font-size:1.4rem;
}

h4 {
	font-size:110%;
	font-size:1.1rem;
}

h5 {
	font-size:100%;
	font-size:1rem;
}

h6 {
	font-size:100%;
	font-size:1rem;
}

.box {
	background-color: $bgcolor-master;
	@include box-sizing('box');
	@include border-radius($radius);
	&.box-margin-top {
		margin-top: $box-margin-top;
	}
	&.box-margin-bottom {
		margin-bottom: $box-margin-top;
	}
	&.box-radius {
		@include border-radius($radius-big);
	}
	&.box-padding {
		padding: $box-padding;
	}
	&.box-shadow {
		@include box-shadow(0, 0, 5px, #777);
	}
	.box-header {
		border-bottom:1px solid #ccc;
		padding: $box-padding;
		padding-top:4px;
		padding-bottom:8px;
	}
	.box-content {
		padding: $box-padding;
	}
	.box-footer {
		border-top:1px solid #ccc;
		padding: $box-padding;
		padding-top:4px;
		padding-bottom:8px;
	}
	&.box-padding {
		.box-header, .box-content, .box-footer {
			padding-left:0;
			padding-right:0;
		}
	}
}

input[type="text"].err, textarea.err {
	border:1px solid $form-text-err-border-color;
	color: $form-text-err-color;
}
label.err {
	border:1px solid $form-text-err-border-color;
	color: $form-text-err-color;
}

ul.nostyle, ol.nostyle {
	padding:0;
	margin:0;
	border:none;
	list-style-type:none;
	> li {
		padding:0;
		margin:0;
		border:none;
		list-style-type:none;
	}
}
ul.float-left {
	li {
		display:inline-block;
		float:left;
	}
}
ul.float-right {
	li {
		display:inline-block;
		float:right;
	}
}

.text-center {
	text-align:center;
}
.text-right {
	text-align:right;
}
.text-left {
	text-align:left;
}
.micro-width {
	padding-right:0;
}

.hidden {
	display:none;
	visibility:hidden;
}

.clearfix {
	@include clearfix();
}

.form-group {
	border:none;
	padding:0;
	margin:0;
	margin-bottom:0.5em;
	min-height:1.8em;
	width:100%;
	@include clearfix();
	.form-label {
		float:left;
		padding:8px floor( $co12-gap-padding / 2 ) 4px 0;
		text-align:right;
		min-height:1.8em;
		width:30%;
		@include box-sizing('box');
	}
	.form-input {
		float:right;
		padding:4px 4px 4px floor( $co12-gap-padding / 2 );
		min-height:1.8em;
		width:70%;
		@include box-sizing('box');
		.elem-group {
			text-align:right;
		}
		textarea {
			min-height:1.5em;
			width:100%;
			@include box-sizing('box');
		}
		> .hint {
			color: $font-form-hint-color;
			font-size:smaller;
		}
	}
	.form-func {

	}

	.form-text, .form-radio, .form-checkbox, .form-select, .form-file {
		padding-top:8px;
	}
}

@media screen and (max-width: $screen-sm-max){
	.form-group {
		.form-label, .form-input, .form-text {
			clear:both;
			float:none;
			padding:4px 5px;
			width:100%;
			text-align:left;
		}
		.form-input {
			input[type="text"], input[type="password"], input[type="date"], input[type="number"], textarea {
				width:100%;
			}
		}
	}
}
.form-group.req {
	.form-label:before {
		content:"*";
		color:#f00;
	}
}

.form-horizontal {
	.form-group {
		.form-label {
			float:none;
			padding:8px 4px 4px 4px;
			text-align:left;
			width:100%;
		}
		.form-input {
			float:none;
			padding:4px;
			text-align:left;
			width:100%;
		}
	}
}

.form-group-bordered .form-group {
	border-bottom:1px solid $divide-border-color;
	padding-bottom:0.5em;
	&:last-child {
		border-bottom:none;
	}
}

.form-group-box {
	padding-top:0.5em;
	padding-bottom:0.5em;
	@include border-radius(10px);
	&.bg-red {
		background-color:#fcc;
	}
	&.bg-blue {
		background-color:#ccf;
	}
	&.bg-green {
		background-color:#cfc;
	}
	.form-group-box-title {
		padding-left:1em;
		@include box-sizing('box');
	}
}
.form-box {
	margin-bottom:0.5em;
	.form-title {
		font-size:larger;
		padding-top:4px;
		padding-bottom:4px;
		padding-left:4px;
		border-top:2px solid darken($form-box-foldding-bg, 5%);
		&.foldding{
			background:$form-box-foldding-bg;
			border-radius:8px;
		}
	}
	td {
		box-sizing:border-box;
		padding-right:2px;
		padding-left:1px;
		input[type="text"] {
			width:100%;
			margin-bottom:3px;
		}
		input[type="date"] {
			width:92%;
			margin-bottom:3px;
		}
		input[type="number"] {
			width:96%;
			margin-bottom:3px;
		}
		select {
			width:100%;
			margin-bottom:3px;
		}
	}
	table.table thead tr th {
		text-align:center;
		background-color:$form-box-table-bg;
	}
	&.auto-draw table.table thead tr th {
		background:$form-box-auto-draw-table-bg;
	}
}

.form-section {
	.form-section-title {
		font-size:larger;
	}
	.form-section-content {

	}
}

.editable, .editable-editing{
	position:relative;
	.editable-data {
		display:inline-block;
		padding-right:75px;
		min-height:1em;
		width:100%;
		@include box-sizing('box');
	}
	.editable-func {
		min-height:1em;
		position:absolute;
		right:4px;
		top:0;
		@include box-sizing('box');
		button {
			height:32px;
			padding:4px;
			width:32px;
			@include box-sizing('box');
			@include border-radius($radius-small);
			span {
				display:none;
			}
			&.edit {
				background:#eee url(img/icon_edit.png) center center no-repeat;
			}
			&.submit {
				background:#eef url(img/icon_edit.png) center center no-repeat;
			}
			&.cancel {
				background:#fee url(img/icon_edit.png) center center no-repeat;
			}
		}
	}
}

.pagination {
	margin:10px auto;
	ol.pagination, ul.pagination {
		list-style-type:none;
		float:right;
		padding:0;
		margin:0;
		li {
			&.page-link {
				float:left;
				font-size:smaller;
				margin-right:3px;
				@include box-sizing('box');
				a {
					background:$pagination-bg;
					text-decoration:none;
					padding:1px 5px;
					width:100%;
					box-shadow:$pagination-shadow;
					@include border-radius($pagination-radius);
				}
			}
			&.page-selected {
				a {
					background-color:$pagination-selected-bg;
					box-shadow:$pagination-selected-shadow;
				}
			}
		}
	}
}

.modal {
	background-color:$modal-color;
	position:absolute;
	top:0;
	left:0;
	height:auto;
	width:100%;
	z-index:300;
	@include opacity(0.9);
}
.modal-content {
	background-color:#fff;
	border:1px solid #666;
	padding:20px;
	margin: 10px auto;
	@include opacity(1);
	@include clearfix();
	@include border-radius($radius-big);
}

.popbox-outter {
	background:#eee;
	border:1px solid #ccc;
	margin-left:-400px;
	left:50%;
	position:absolute;
	width:800px;
	@include border-radius($radius-big);
	.popbox-header {
		min-height:1.5em;
		line-height:1.5em;
		background-color:#e9b266;
		@include border-radius($radius-big,$radius-big,0,0);
	}
	.popbox-body {
		padding:8px;
		width:100%;
		@include box-sizing('box');
	}
	.popbox-footer {
		min-height:1em;
		background-color:#e9b266;
		@include border-radius(0,0,$radius-big,$radius-big);
	}
}

@media screen and (max-width: $screen-xs-max){
	.popbox-outter {
		margin-left:0;
		left:0;
		width: 100%;
	}
}

.loading-ico {
	background-image:url(img/icon_loading.gif);
	background-repeat:no-repeat;
	background-position:center center;
}

.addfile-ico {
	background-image:url(img/icon_plus.png);
	background-repeat:no-repeat;
	background-position:center center;
}

.spacer {
	@include clearfix();
}

.admin-management-container {
	margin-top:5px;
	.menu {
		float:left;
		padding-left:5px;
		padding-right:5px;
		width: percentage(2/12);	
		@include box-sizing('box');
		ul {
			list-style-type:none;
			margin:0;
			padding:0;
			width:100%;
			li {
				list-style-type:none;
				margin:0 0 2px 0;
				padding:0;
				&.homepage {
					a {
						background:#ddd;
						&:hover, &.selected {
							background:#ddf;
							color:#666;
							.fa {
								color:#009;
							}
						}
					}
				}
				a {
					background:#ccc;
					display:block;
					padding:4px 6px;
					width:100%;
					@include box-sizing('box');
					&.selected {
						background:#ccf;
					}
					&:hover {
						background:#373;
						color:#eee;
						text-decoration:none;
						.fa {
							color:#f66;
						}
					}
				}
			}
		}
	}
	.content {
		float:left;
		padding-left:5px;
		padding-right:5px;
		width: percentage(10/12);
		@include box-sizing('box');
	}
}

@media screen and (max-width: $screen-xs-max){
	table.table-wide, table.table-xs-wide, table.sm-wide {
		thead {
			display:none;
		}
		tbody {
			tr {
				border-bottom:1px solid #aaa;
				display:block;
				margin-bottom:4px;
				margin-top:4px;
				
			}
			td, th {
				display:block;
				.wide-label {
					display:block;
					@include clearfix();
				}
			}
		}
	}
}
@media screen and (min-width: $screen-sm-min) and (min-width: $screen-sm-max){
	table.table-wide, table.table-sm-wide {
		thead {
			display:none;
		}
		tbody {
			tr {
				border-bottom:1px solid #aaa;
				display:block;
				margin-bottom:4px;
				margin-top:4px;
			}
			td, th {
				display:block;
				.wide-label {
					display:block;
					@include clearfix();
				}
			}

		}
	}
}

