.debug {
	background-color:#f00;
	&.bg0, &.bg-red {
		background-color:#f00;
		&.border {
			border-color:#a00;
		}
	}
	&.bg1, &.bg-green {
		background-color:#0f0;
		&.border {
			border-color:#0a0;
		}
	}
	&.bg2, &.bg-blue {
		background-color:#00f;
		&.border {
			border-color:#00a;
		}
	}
	&.bg3, &.bg-yellow {
		background-color:#ff0;
		&.border {
			border-color:#aa0;
		}
	}
	&.bg4, &.bg-cyan {
		background-color:#0ff;
		&.border {
			border-color:#0aa;
		}
	}
	&.bg5, &.bg-purple {
		background-color:#f0f;
		&.border {
			border-color:#a0a;
		}
	}
	&.bg6, &.bg-gray {
		background-color:#777;
		&.border {
			border-color:#333;
		}
	}
	&.bg7 {
		background-color:#700;
		&.border {
			border-color:#300;
		}
	}
	&.bg8 {
		background-color:#070;
		&.border {
			border-color:#030;
		}
	}
	&.bg9 {
		background-color:#007;
		&.border {
			border-color:#003;
		}
	}
	&.border {
		border-width:1px;
		border-style:dotted;
	}
}


