$in27-font-path:		"/css/webfonts";
$in27-version:			"1.0.1";
@font-face {
	font-family: "in27";
	src: url('#{$in27-font-path}/27interest.eot?#{$in27-version}');
	src: url('#{$in27-font-path}/27interest.eot?#{$in27-version}#iefix') format('embedded-opentype'),
		url('#{$in27-font-path}/27interest.woff?#{$in27-version}') format('woff'),
		url('#{$in27-font-path}/27interest.ttf?#{$in27-version}') format('truetype'),
		url('#{$in27-font-path}/27interest.svg?#{$in27-version}#27interest') format('svg');
	font-weight: normal;
	font-style: normal;
}
