@mixin clearfix() {
	&:before,
	&:after {
		content: " "; // 1
		display: table; // 2
	}
	&:after {
		clear: both;
	}
}

@mixin co12-width($cols){
	//width: $co12-width * $cols + ($col-gap-width * ($cols - 1 ));
	width: $co12-width * $cols;
}
@mixin co12-offset($cols){
	//margin-left: ($co12-width + $col-gap-width) * $cols;
	margin-left: $co12-width * $cols;
}

@mixin border-radius($r1, $r2: -1, $r3: -1, $r4: -1){
	@if $r2 == -1 {
  -webkit-border-radius: $r1;
     -moz-border-radius: $r1;
          border-radius: $r1;
	}
	@elseif $r3 == -1 {
		@include border-top-radius($r1);
		@include border-bottom-radius($r1);
	}
	@elseif $r4 == -1 {
		@include border-left-radius($r1);
		@include border-right-radius($r1);
	}
	@else {
		border-top-left-radius: $r1;
		border-top-right-radius: $r2;
		border-bottom-right-radius: $r3;
		border-bottom-left-radius: $r4;
	}
}

@mixin border-right-radius($r){
	border-top-right-radius: $r;
	border-bottom-right-radius: $r;
}

@mixin border-left-radius($r){
	border-top-left-radius: $r;
	border-bottom-left-radius: $r;
}

@mixin border-top-radius($r){
	border-top-left-radius: $r;
	border-top-right-radius: $r;
}

@mixin border-bottom-radius($r){
	border-bottom-left-radius: $r;
	border-bottom-right-radius: $r;
}

@mixin gradient-horizontal($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
	background-color: $start-color;
	background-image: -webkit-linear-gradient(left, color-stop($start-color $start-percent), color-stop($end-color $end-percent)); // Safari 5.1-6, Chrome 10+
	background-image:  linear-gradient(to right, $start-color $start-percent, $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=1); // IE9 and down
}

@mixin gradient-horizontal-3($start-color: #555, $mid-color: #888, $end-color: #333, $start-percent: 0%, $mid-percent: 50%, $end-percent: 100%) {
	background-color: $start-color;
	background-image: -webkit-linear-gradient(left, color-stop($start-color $start-percent), color-stop($mid-color, $mid-percent), color-stop($end-color $end-percent)); // Safari 5.1-6, Chrome 10+
	background-image:  linear-gradient(to right, $start-color $start-percent, $mid-color $mid-percent, $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=1); // IE9 and down
}

// Vertical gradient, from top to bottom
//
// Creates two color stops, start and end, by specifying a color and position for each color stop.
// Color stops are not available in IE9 and below.
@mixin gradient-vertical($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
	background-image: -webkit-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);  // Safari 5.1-6, Chrome 10+
	background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down
}

@mixin gradient-vertical-3($start-color: #555, $mid-color: #888, $end-color: #333, $start-percent: 0%, $mid-percent: 50%, $end-percent: 100%) {
	background-image: -webkit-linear-gradient(top, $start-color $start-percent, $mid-color $mid-percent,  $end-color $end-percent);  // Safari 5.1-6, Chrome 10+
	background-image: linear-gradient(to bottom, $start-color $start-percent, $mid-color $mid-percent, $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down
}


@mixin transform($deg){
 	-ms-transform: rotate($deg); /* IE 9 */
-webkit-transform: rotate($deg); /* Safari */
	    transform: rotate($deg); /* Standard syntax */
}

@mixin box-sizing($boxmodel) {
	@if $boxmodel == "padding-box" or $boxmodel == "box" {
		$boxmodel: border-box;
	-webkit-box-sizing: $boxmodel;
		 -moz-box-sizing: $boxmodel;
					box-sizing: $boxmodel;
	}
	@elseif $boxmode == "content" {
		$boxmodel: content-box;
	-webkit-box-sizing: $boxmodel;
		 -moz-box-sizing: $boxmodel;
					box-sizing: $boxmodel;
	}
	@else {
	-webkit-box-sizing: $boxmodel;
		 -moz-box-sizing: $boxmodel;
					box-sizing: $boxmodel;
	}
}

/**
 * 透明度
 */
@mixin opacity($opacity) {
	opacity: $opacity;
	// IE8 filter
	$opacity-ie: ($opacity * 100);
	filter: #{alpha(opacity=$opacity-ie)};
}

@mixin box-shadow-model($shadow...) {
  -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
          box-shadow: $shadow;
}

@mixin box-shadow($h-shadow, $v-shadow,$spread, $color, $inset:"inset"){
	-moz-box-shandow: $h-shadow $v-shadow $spread $color;
	-webkit-box-shadow: $h-shadow $v-shadow $spread $color;
	box-shadow: $h-shadow $v-shadow $spread $color;
	$shadow: $inset $h-shadow $v-shadow $spread $color;
	// $shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px lighten($border-color, 20%);
	@include box-shadow-model($shadow);
}

/**
 * color-mix
 * 顏色混合
 *
 * @param color $color-start 起始色
 * @param color $color-end 結束色
 * @param float $percentage 距離起始色的百分比, 0.0 ~ 1.0 
 */
@function color-mix($color-start, $color-end, $percentage:0.5){
	@return $color-start * $percentage + $color-end * (1 - $percentage);
}

