$slider-range-width:	90% !default;

.slider-container {
	width: $slider-range-width;
	margin-top:30px;
	.back-bar {
		height: 10px;
		position: relative;
		.selected-bar {
			position: absolute;
			height: 100%;
		}
		.pointer {
			position: absolute;
			width: 10px;
			height: 10px;
			background-color: red;
			cursor: col-resize;
			opacity: 1;
			z-index: 2;
			&.last-active {
				z-index: 3;
			}
		}
		.pointer-label {
			position: absolute;
			top: -17px;
			font-size: inherit;
			white-space: nowrap;
			line-height: 1;
			&.low {
				left:0;
			}
			&.high {
				right:0;
			}
		}
		.focused {
			z-index: 10;
		}
	}
	.clickable-dummy {
		cursor: pointer;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	.scale {
		top: 2px;
		position: relative;
		span {
			position: absolute;
			height:1em;
			//border-left: 1px solid #999;
			font-size:smaller;
		}
		ins {
			font-size: inherit;
			text-decoration: none;
			position: absolute;
			left: 0;
			top: 5px;
			color:#999;
			line-height:1em;
		}
	}
	&.slider-readonly {
		.clickable-dummy, .pointer {
			cursor: auto;
		}
	}
}

@mixin theme-back-bar($theme-name, 
						$bar-bgcolor-master, $bar-bgcolor-start, $bar-bgcolor-end, 
						$selectedbar-bgcolor-master, $selectedbar-bgcolor-start, $selectedbar-bgcolor-end,
						$pointer-bgcolor-master, $pointer-bgcolor-start, $pointer-bgcolor-end, $pointer-color-label){
	.theme-#{$theme-name} {
		.back-bar {
			height:5px;
			background-color:$bgcolor-master;
			@include border-radius(2px);
			@include gradient-vertical($bar-bgcolor-start, $bar-bgcolor-end);
			.selected-bar {
				background-color: color-mix($selectedbar-bgcolor-start, $selectedbar-bgcolor-end);
				@include border-radius(2px);
				@include gradient-vertical($selectedbar-bgcolor-start, $selectedbar-bgcolor-end);

			}
			.pointer {
				width:14px;
				height:14px;
				top: -5px;
				border:1px solid color-mix($pointer-bgcolor-start, $pointer-bgcolor-end, 0.8);
				color: color-mix($pointer-bgcolor-start, $pointer-bgcolor-end, 0.8);
				@include border-radius(45%);
				@include box-sizing('box');
				@include gradient-vertical($pointer-bgcolor-start, $pointer-bgcolor-end);
			}
			.pointer-label {
				color:$pointer-color-label;
			}
			.focused {
				color: #333;
			}
		}
		.scale {
			span {
				border-left: 1px solid #e5e5e5;
			}
		}
	}

}

@include theme-back-bar("green", #eee, #eee, #ddd, #a1fad0, #bdfade, #76fabc, #e7e7e7, #eee, #ddd, #333);
@include theme-back-bar("gray", #999, #999, #ddd, #aaa, #ccc, #666, #aaa, #eee, #ddd, #000);


