@import "variable";
@import "debug";
@import "mixins";
@import "reset";
@import "font-awesome/font-awesome";
@import "component";
@import "grids";

$color-base-org: #feb149;
$color-base-blue: #469ee0;
$coler-base-dark: #2c3440;
a, .a, button.a {
	color: #555;
	text-decoration:none;
	&:visited {
		color:#555;
	}
	&:hover {
		color:#333;
		text-decoration:underline;
	}
	&:active {
		color:#555;
		text-decoration:underline;
	}
}


body {
	font-size: $font-size;
	font-weight:normal;
	font-family: $font-family;
	line-height: $line-height;
	background-color:$bgcolor-base;
}

@media screen and (max-width:$screen-sm-max){
	body {
		font-size: $font-size-small;
	}
}

ul.nostyle, ol.nostyle {
	padding:0;
	margin:0;
	border:none;
	list-style-type:none;
	> li {
		padding:0;
		margin:0;
		border:none;
		list-style-type:none;
	}
}

.micro-width {
	padding-right:0;
}

.hidden {
	display:none;
	visibility:hidden;
}

.clearfix {
	@include clearfix();
}

.img-fit {
	width:100%;
	margin-left:auto;
	margin-right:auto;
}
.tab-group {
	background-color:#aaa;
	height:3em;
	line-height:3em;
	overflow:hidden;
	@include border-radius(8px,8px,0,0);
	.tab {
		height:3em;
		line-height:3em;
		background-color:#949494;
		float:left;
		&:first-child {
			@include border-radius(8px,0,0,0);
		}
		&:last-child {
		//	@include border-radius(0,8px,0,0);
		}
	}
	.tab.selected {
		background-color:#fff;
	}
	.tab:not(:last-child) {
		border-right:1px solid #fff;
	}
}
.tab-content {
	background-color:#fff;
	padding-bottom:10px;
	@include border-radius(0,0,8px,8px);
}
.wrapper-outter {
	width:100%;
}

.wrapper-inner {
	margin:0 auto;
	padding-top:2px;
}

#page-header {
	display:block;
	@include clearfix();
}

