$front-color-master:		#eef	!default;
$front-color-slave:			#dfe	!default;

$bgcolor-base:				#fff	!default;
$bgcolor-master:			#fff	!default;
$bgcolor-slave:				#ffd000	!default;

$font-size-small:			12px	!default;
$font-size:					14px	!default;
$font-size-big:				16px	!default;

$font-family:				"\5FAE\8EDF\6B63\9ED1\9AD4", "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$font-color-base:			#444	!default;

$font-form-hint-color:		#555	!default;

$line-height-small:			1.2em	!default;
$line-height:				1.4em	!default;
$line-height-big:			1.8em	!default;

$a-color:					#558	!default;
$a-color-visited:			darken($a-color,8%)	!default;
$a-color-hover:				lighten($a-color,5%)	!default;
$a-color-active:			lighten($a-color,2%)	!default;

$a-color-primary:			#009	!default;
$a-color-primary-visited:	darken($a-color-primary,8%)	!default;
$a-color-primary-hover:		lighten($a-color-primary,5%)	!default;
$a-color-primary-active:	lighten($a-color-primary,2%)	!default;

$a-color-danger:			#f00	!default;
$a-color-danger-visited:	darken($a-color-danger,8%)	!default;
$a-color-danger-hover:		lighten($a-color-danger,5%)	!default;
$a-color-danger-active:		lighten($a-color-danger,2%)	!default;

$a-color-info:				#66d	!default;
$a-color-info-visited:		darken($a-color-info,8%)	!default;
$a-color-info-hover:		lighten($a-color-info,5%)	!default;
$a-color-info-active:		lighten($a-color-info,2%)	!default;

$btn-border:				1px solid #bbb	!default;
$btn-height:				24px	!default;
$btn-line-height:			24px	!default;
$btn-bgcolor:				#aac	!default;
$btn-color:					#445	!default;
$btn-color-hover:			#556	!default;

$btn-primary-border:		1px solid #009	!default;
$btn-primary-bgcolor:		#ccf	!default;
$btn-primary-color:			#009	!default;
$btn-primary-color-hover:	lighten($btn-primary-color,6%)	!default;

$btn-danger-border:			1px solid #f00	!default;
$btn-danger-bgcolor:		#fcc	!default;
$btn-danger-color:			#f00	!default;
$btn-danger-color-hover:	lighten($btn-danger-color,6%)	!default;

$btn-info-border:			1px solid #3c6	!default;
$btn-info-bgcolor:			#cfc	!default;
$btn-info-color:			#3a3	!default;
$btn-info-color-hover:		lighten($btn-info-color,6%)	!default;

$btn-disable-border:		1px solid #666	!default;
$btn-disable-bgcolor:		#ccc	!default;
$btn-disable-color:			#444	!default;
$btn-disable-color-hover:	lighten($btn-disable-color,6%)	!default;

$color-base:				#24AEE7 !default;
$color-base2:				#C2DB80 !default;
$color-light:				#E6F7FA !default;
$color-border:				#D1E6EA !default;
$color-font:				#4A4A4A !default;
$color-font-hover:			darken($color-font,20%) !default;
$color-hints:				#F6A623 !default;
$color-font-lighten:		#595757 !default;

$input-border-color:		#bbb	!default;
$input-height:				24px	!default;
$input-line-height:			16px	!default;

$input-border-color-error:	#f00;
$input-bg-error:			#ff0;
$input-color-error:			#900;

$checkbox-color:			#d1945c	!default;

$radio-color:				#d1945c	!default;

$form-text-err-border-color:#f00	!default;
$form-text-err-color:		#c00	!default;

$table-border-color:		#ccc	!default;
$table-th-bgcolor:			#ddd	!default;
$table-tr-hover-bgcolor:	#ffc	!default;
$table-tr-hover-color:		#444	!default;
$table-striped-bgcolor-even:#ffc	!default;
$table-striped-bgcolor-odd:	#ddf	!default;

$divide-border-color:		#e9eaed	!default;

$box-margin-top:			10px	!default;
$box-padding:				10px	!default;

$radius-small:				3px	!default;
$radius:					5px	!default;
$radius-big:				8px	!default;

$border-color:				#aaa	!default;
$table-striped-bg:			#eef	!default;
$table-hover-bg:			#aae	!default;
$margin-spacing:			4px	!default;

$nav-icon-color:			#857d48	!default;
$nav-icon-hover-color:		#fff	!default;
$nav-icon-hover-bg:			#d5b107	!default;

$pagination-radius:			3px		!default;
$pagination-bg:				#ddd	!default;
$pagination-shadow:			1px 1px 1px #aaa	!default;
$pagination-selected-bg:	#ccf	!default;
$pagination-selected-shadow:	1px 1px 1px #aaf	!default;

$modal-color:				#777	!default;

$form-box-table-bg:			#d6d9df	!default;
$form-box-auto-draw-table-bg: 	#ffc9c6 !default;
$form-box-foldding-bg:		#fb5 !default;;

$grid-columns:				12 !default;

$gs12-columns:				12 !default;
$gs16-columns:				16 !default;
$gs20-columns:				20 !default;

$screen-xs-max:				569px	!default;
$screen-sm-min:				569px	!default;
$screen-sm-max:				950px	!default;
$screen-md-min:				950px	!default;
$screen-md-max:				1200px	!default;
$screen-lg-min:				1200px	!default;

$screen-width-xs:			100%	!default;
$screen-width-sm:			94%		!default;
$screen-width-md:			90%		!default;
$screen-width-lg:			1200px	!default;

$co12-width:				8.333333%	!default;
$co12-gap-padding:			18px	!default;

$gs12-width:				8.333333%	!default;
$gs16-width:				6.249999%	!default;
$gs20-width:				5.000000%	!default;
