$ss-font-file:		"font-squsqu/font-2" !default;
$ss-font-family:	"font-squsqu" !default;
$ss-css-prefix:		"webfont-ss";
$ss-class-name:		"webfont-ss-icon";

@charset "UTF-8";

@font-face {
	font-family: $ss-font-family;
	src:url("#{$ss-font-file}.eot");
	src:url("#{$ss-font-file}.eot?#iefix") format("embedded-opentype"),
		url("#{$ss-font-file}.woff") format("woff"),
		url("#{$ss-font-file}.ttf") format("truetype"),
		url("#{$ss-font-file}.svg##{$ss-font-family}") format("svg");
	font-weight: normal;
	font-style: normal;
}

.#{$ss-class-name},
.#{$ss-css-prefix}:before {
	font-family: $ss-font-family !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.webfont-ss-account:before			{ content: "a"; } 
.webfont-ss-registration-form:before{ content: "b"; }
.webfont-ss-set:before				{ content: "c"; }
.webfont-ss-billing:before			{ content: "d"; }
.webfont-ss-control-panel:before	{ content: "e"; }
.webfont-ss-ticket:before			{ content: "f"; }
.webfont-ss-creditcard:before		{ content: "g"; }
.webfont-ss-email:before			{ content: "h"; }
.webfont-ss-event-list:before		{ content: "i"; }
.webfont-ss-invitation-code:before	{ content: "j"; }
.webfont-ss-lock:before				{ content: "k"; }
.webfont-ss-my-ticket:before		{ content: "l"; }
.webfont-ss-name-list:before		{ content: "m"; }
.webfont-ss-output:before			{ content: "n"; }
.webfont-ss-overview:before			{ content: "o"; }
.webfont-ss-personal-profile:before	{ content: "p"; }


