<table class="table table-striped table-bordered table-hover">
<caption></caption>
<colgroup>
	<col class="" />
	<col class="" />
</colgroup>
<tbody>
	<tr>
		<td>_DIR_FRAMEWORK</td>
		<td><?php html(_DIR_FRAMEWORK); ?></td>
	</tr>
	<tr>
		<td>_DIR_DOCS</td>
		<td><?php html(_DIR_DOCS); ?></td>
	</tr>
	<tr>
		<td>$_SERVER['REMOTE_ADDR']</td>
		<td><?php html($_SERVER['REMOTE_ADDR']); ?></td>
	</tr>
	<tr>
		<td>$_SERVER['HTTP_HOST']</td>
		<td><?php html($_SERVER['HTTP_HOST']); ?></td>
	</tr>
	<tr>
		<td>_HTTPS_ONLY</td>
		<td>
			<?php echo defined('HTTPS_ONLY')?(_HTTPS_ONLY?'True':'False'):'undefined'; ?>
		</td>
	</tr>
	<tr>
		<td>_DEBUG</td>
		<td><?php echo defined('_DEBUG')?(_DEBUG?'True':'False'):'<span class="fatal">undefined'; ?></td>
	</tr>
</table>

<table class="table table-striped table-bordered table-hover">
<caption>
	Directories and files check
</caption>
<colgroup>
	<col class="" />
	<col class="" />
</colgroup>
<tbody>
<?php foreach($check_basic as $p => $v){ ?>
<?php
	$path=_DIR_DOCS.$p;
	if(is_readable($path)){
		$fperm=fileperm_to_rwx(fileperms($path));
		$user_id=posix_getpwuid(fileowner($path));
		$user_name=$user_id['name'];
		$access=is_writable($path)?'writable':(is_readable($path)?'readonly':'unable');
	}
?>
	<tr>
		<td>
			<div><?php echo isset($v['desc'])?html($v['desc'],False):''; ?></div>
			<div class="note"><?php html($p); ?></div>
		</td>
		<td>
	<?php 
		if(substr($p,-1)=='/'){
			if(is_dir($path)){
				echo 'Directory is exists. permission is ';
				echo '<span class="rwx">'.$fperm.'</span>';
				echo ', owner is <span class="user-id">'.$user_name.'</span>';
				echo ', <span class="access-able access-able-'.$access.'">'._tl('Ly_access_'.$access,FALSE).'</span>';
			}
		}
		else{
			if(is_file($path)){
				echo 'File is exists. permission is ';
				echo fileperm_to_rwx(fileperms($path));
				echo is_writable($path)?', writable':(is_readable($path)?', read only':', cannot access');
			}
		} 
	?>
		</td>
	</tr>

<?php } ?>
</tbody>
</table>

