<!doctype html>
<html lang="zh-tw">
<head dir="ltr">
	<meta charset="utf-8" />



<style type="text/css" media="screen">
* {padding:0;margin:0;font:inherit;}
body {width:98%;max-width:1200px;margin-left:auto;margin-right:auto;margin-top:1em;margin-bottom:1em;}
.fatal {color:#f00;}
.warning {color:#f0a;}
.notice {color:#a0f;}
.info {color:#00c;}
.success {color:#0a0;}
.rwx, .user-id, .access-able {color:#00f;text-decoration:underline;}
.access-able-writable {color:#c00;}
.access-able-readonly {color:#090;}
.access-able-unable {color:#00a;}
.note {color:#999;}
td, th {padding:4px;box-sizig:border;}
table caption {font-weight:bold;text-align:left;margin-top:1em;}
table.table {width:100%;border:none;border-collapse:collapse;}
table.table-bordered tr {border:none;border-top:1px solid #ccc;border-left:1px solid #ccc;}
table.table-bordered td {border:none;border-right:1px solid #ccc;border-bottom:1px solid #ccc;}
</style>
</head>
<body>

	<?php include(_DIR_FRAMEWORK.'template/'.CZ::controller().'/'.CZ::command().'.phtml'); ?>

</body>
</html>

